body{
    background-image: url('assets /DALL·E 2024-01-04 11.51.38 - Design an elegant and simple background with a dark wooden table at the bottom, suitable for a dessert brand. On the table, place several plain porcel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

